input, select{
	box-sizing: border-box;
	text-align: center;
}
textarea{
	box-sizing: border-box;
}
input:focus::placeholder{
	color:transparent
}
input[type=number] {
	-moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.Sided{
	display: table;
	width: max-content;
	margin: auto;
	text-align: inherit;
}
.Sided p{
	display: table-row;
	text-align: inherit;
}
.Sided label, input, select, option{
	text-align: inherit;
	display: table-cell;
	padding: 0;
}