:root{
	--background-color: rgb(233, 227, 227);
	--text-color: black;
	--transition: 0s;
}
[data-theme="light"] {
	--background-color: rgb(233, 227, 227);
	--text-color: black;
	--transition: 0.5s;
}
[data-theme="dark"] {
	--background-color: rgba(24, 21, 21, 0.74);    
	--text-color:rgb(204, 198, 198);
	--transition: 0.5s;
}
body {
	background: var(--background-color);
	color: var(--text-color);
    transition: background .5s;
}
a{
	color: rgb(43, 164, 204);
}