:root{
	--background-color: rgb(233, 227, 227);
	--text-color: black;
	--tab-background:#f1f1f1;
	--tab-hover:#ddd;
	--tab-active:#ccc;
	--transition: 0s;
}
[data-theme="light"] {
	--background-color: white;
	--text-color: black;
}
[data-theme="dark"] {
	--background-color: rgba(14, 9, 9, 0.74);    
	--text-color:rgb(204, 198, 198);
}
body {
	background: var(--background-color);
	color: var(--text-color);
    transition: background .5s;
}