[data-theme="light"] {
	--background-color: white;
	--text-color: black;
}
[data-theme="dark"] {
	--background-color: rgba(14, 9, 9, 0.74);    
	--text-color:rgb(204, 198, 198);
}
body {
	background: var(--background-color);
	color: var(--text-color);
    transition: background 1;
}