	fieldset{
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:50%;
	height:50%;
	}
	body{
	background-color:White;
	color:black;
	}
	h1{
	text-align:Center;
	}
	h2{
	text-align:Center;
	}
	.Time{
		width: 50px;
	}